<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form>
        <label>First Name</label>
        <input type="text" name="firstname" placeholder="First Name">
        <br><br>
        <label>Last Name</label>
        <input type="text" name="lastname"  placeholder="Last Name" required>
        <br><br>
        <label>User ID</label>
        <input type="text" name="userid" placeholder="UserID" required>
        <br><br>
        <label>Pan Number</label>
        <input type="text" name="pan" placeholder="Pan No" required>
        <br><br>
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" required>
        <br><br>
        <label>Mobile No</label>
        <input type="number" name="mblenum" placeholder="Mobile NO" required>
        <br><br>
        <label>Email</label>
        <input type="email" name="email" placeholder="Email" required>
        <br><br>
        <button>Submit</button>
    </form>

</body>
</html>